* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one-one-row-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 200px;
    background: yellow;
}

.one-one-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    background: red;
}