.signin-container {
  width: 1300px;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #dcdbe0;
  padding-bottom: 50px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  margin-bottom: 500px;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 55px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

input {
  width: 93%;
  padding: 10px;
  padding-bottom: 500p;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: auto;
}

button:hover {
  background-color: #ddb347;
}

.forgot-password {
  margin-top: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.forgot-password a {
  color: #1d0cb7;
  text-decoration: none;
}

.create-account {
  margin-top: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create-account p {
  margin-bottom: 8px;
}

.create-account a {
  color: #1d0cb7;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
  margin-top: 30px;
  width: 100%;
  border: 0;
  border-top: 1px solid #000000;
  border-width: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f7ca00;
  border: 0;
  border-radius: 8px;
  font-size: 20px; 
  color: #111; 
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Font family similar to Amazon's */
  font-weight: bold; 
  text-align: center; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #ddb347;
}

button:active {
  background-color: #f7ca00; 
}
