* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-box {
    display: flex;
}

.cart-box-main {
    display: flex;
    flex-direction: column;
    background: fixed;
    background: rgb(225, 236, 160);
    margin: 10px auto;
}