* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .home-one-box {
        box-sizing: border-box;
        width: 6em;
        height: 6em;
        background-color: #6cc04b;
        margin: 3px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .home-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: red;
        width: 40%;
        height: 40%;
        gap: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .home-display-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5px;
        gap: 5px;
    }
}


