.home-one-box {
  font-display: swap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1.5 5px 10px rgba(0, 0, 0, 0.725);
  background-color: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-image {
  width: 160px; /* Set the width to fit within the card */
  height: 160px; /* Set the height to fit within the card */
  object-fit: contain;;
  margin-bottom: 10px; /* Add some space below the image */
  margin-top: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease; /* Smooth transitions for all effects */
}

#product-image:hover {
  transform: scale(1.1) rotate(2deg); /* Scale and slightly rotate the image */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  filter: brightness(1.1) saturate(1.2); /* Slightly increase brightness and saturation */

}

.product-info {
  text-align: center;
  margin-top: 10px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-price {
  color: #000000;
  margin: 5px 0;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 100px;
}

.add-to-cart-button,
.view-details-button {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .add-to-cart-button {
  background-color: #f0c14b;
  color: #111;
} */

/* .add-to-cart-button:hover {
  background-color: #ddb347;
} */

.view-details-button {
  background-color: #007185;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.view-details-button:hover {
  background-color: #005f73;
}
