.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Adjust as needed */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  z-index: 1;
}

#prev-button {
  left: 10px;
}

#next-button {
  right: 10px;
}

.carousel-track-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  min-width: 200px; /* Adjust as needed */
  margin: 0 10px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}
