* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 0px;
}

@media (max-width: 480px) {
    .logo img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .logo img {
        margin-top: 3px;
        width: 30px;
        height: 30px;
    }  
}