* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    * {
        font-size: 14px;
    }

    .main-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo name return signin cart"
        "search search search search search";
        ;
    }

    .main-list .item-one {
        grid-area: logo;
    }

    .main-list .item-two {
        grid-area: name;
    }

    .main-list .item-four {
        grid-area: return;
    }

    .main-list .item-five {
        grid-area: signin;
    }

    .main-list .item-six {
        grid-area: cart;
    }

    .main-list .item-tree {
        grid-area: search;
    }

}