/* Header container styling */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation styling */
.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

/* List styling */
.main-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

/* List items styling */
.list-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.list-item a {
    color: #fff;
    text-decoration: none;
}

.list-item a:hover {
    color: #f0c14b;
}

/* Logo and Name styling */
.item-one, .item-two {
    display: flex;
    align-items: center;
}

/* Search bar styling */
.item-tree {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Adjust search input */
app-search {
    width: 100%;
    max-width: 300px;
}

/* Icon styling */
.list-item app-logo,
.list-item app-return,
.list-item app-login,
.list-item app-cart {
    height: 24px;
    width: 24px;
}

.list-item app-logo {
    margin-right: 10px;
}

.item-four, .item-five, .item-six {
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    .main-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-item {
        margin: 10px 0;
    }

    .item-tree {
        justify-content: flex-start;
    }
}
